  body{
	
	background-image: url(../images/bodybg.gif);
	color:#522a06;
	font-size:12px;
	padding:none;
	font-family:
	
	}
#header{
		height:205px;
	 text-align:center;
	 background-position:center;
			float:left;
		}
#banner{
	width: 1000px;
	height: 164px;
	position: absolute;
	left: -112px;
	top: 38px;		
		}
.banner2{
	float:left;
	position:absolute;
	
	left:150px;
	}
#nav{
			width:1000px;
			text-align:center;
			height:40px;width:100%;
			background-image:url(../images/nav.jpg)
			}
 .nav-body{
				width:1000px;
				text-align:center;			
				}
.nav-content{
	width:800px;
	color:#fff;
	text-height: font-size;
	float:left;
	text-align:center;
	
	}
.nav-content ul li{list-style-type:none;
                   display:inline;
				   font-size:17px;
}
.nav-serach{
	float:left;
	position:relative;
	top:10px;
	left:80px
	}
.shang{
	text-align:left;
	}
	#zuo{
		width:300px;
		}
.zuo1{
	text-align:center;
	
	background-image:url(../images/board_bg.png);
	border:5px;
	margin:20px;
	padding:5px;
	}
.zuo2{
	text-align:center;
	list-style-type:none;
	background-image:url(../images/board_bg.png);
	border:5px;
	margin:20px;
	padding:5px;
	}
.zuo2 ul li{list-style-type:none;}
.zuo1 ul li{list-style-type:none;}
.zuo3{
	margin:20px;
	}
#you{
	width:800px;
	float:left;
	
	
	}
.you1{
	height:60px;
	text-align:left;
	}
.you2{
	float:left;
	}
.you3{}
#footer{
	clear:both;}
	footer1{display:inline;}
footer1 ul li{list-style-type:none;}