@charset "utf-8";
/* CSS Document */
.menu{
	
	background-image:url(image\bj.png);
	background-repeat:no-repeat;
	}
	#titlediv{
		background-image:url(image\left_nav_title.gif) ;
		background-repeat:no-repeat;
		padding:20px;
		background-position:0% 20%;
		color:#FFF;
		
		}
#footerdiv{
	background-image:url(image\left_nav_bottom.gif);
	background-repeat:no-repeat;
	color:#000
	}