@charset "utf-8";
/* CSS Document */

.menu{
	background-image:url(image\bg.gif);
	background-repeat:no-repeat;
	width:auto;
	height:40px;
	
	
	}
	.li{
		float:left;
		list-style-type:none;
		color:green;
		border:2px;
		
		}
		a:link{
			color:#FFF;
			}